body {
	font-family: Helvetica;
	font-size: 14px;
	background-color: gray;
	background-image: url(../img/bg_pic_small.jpg);
	background-repeat: no-repeat;
	background-position: center
}

#h_contain {
	position: relative;
	width: 650px;
	height: 550px;
	margin: auto;
	margin-top: 30px;
}

#h_block {
	background: #ffffff;
    opacity: 0.6; /* CSS3 */
    position: absolute;
    height: 100%; 
    width:100%;
    border-radius: 25px;
}

#h_content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.av_img {
	float: left;
	height: 120px;
	width: 120px;
	border-radius: 100px;
	margin: 10px 10px 10px 95px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
	opacity: 1;
}

h1 {
	font-size: 28px;
	padding-top: 22px;
	margin-bottom: -13px;
	color: #666;
	opacity: 1.0;
}

h2 {
	font-size: 16px;
}

hr {
	clear: both;
	width: 550px;
}

.body_cont {
	margin: 0px 0px 0px 49px;
}

h3 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: -5px;
}

ul {
	margin: 20px 0px 20px 0px;
}

a:link {
	color: darkorange;
}

a:visited {
	color: darkorange;
	/*color: #575757; PREVIOUSLY DARK GREY*/
}

a:hover {
	color: teal;
}

